<div class="page">
  <div class="top">
    <div class="funko-we">
      <img class="tadeu" src="assets/image/general/tadeu-funko.png" />
      <img src="assets/image/general/maple-funko.png" />
      <img class="vivi" src="assets/image/general/vivi-funko.png" />
    </div>
    <div class="title">My Funko Collection</div>
  </div>
  <div class="search-section">
    <input
      class="form-control form-control-lg"
      type="search"
      placeholder="Search"
      aria-label=".form-control-lg example"
      [(ngModel)]="searchText"
    />
  </div>
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Collection</th>
          <th scope="col">Name</th>
          <th
            scope="col"
            class="d-md-flex justify-content-md-end"
            *ngIf="
              displayAddNewFunko && currentEnvironment.production === false
            "
          >
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="goToFormPage()"
            >
              Add new Funko
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-container
          *ngFor="
            let item of funkoCollection
              | filter
                : searchText
                : ['name', 'number', 'collection', 'comment']
                : filteredCount
              | pagination : itemsPage.perPage : paginator.currentPage;
            index as idx
          "
        >
          <tr
            class="rowFunko"
            data-bs-toggle="modal"
            attr.data-bs-target="#funkoModal{{
              item.number.replace(' ', '') + idx
            }}"
          >
            <th scope="row">{{ item.number }}</th>
            <td>{{ item.collection }}</td>
            <td
              [attr.colspan]="
                displayAddNewFunko && currentEnvironment.production === false
                  ? '2'
                  : '1'
              "
            >
              {{ item.name }}
            </td>
          </tr>

          <!-- Details Modal -->
          <div
            class="modal fade modal-dialog-scrollable"
            id="funkoModal{{ item.number.replace(' ', '') + idx }}"
            tabindex="-1"
            aria-labelledby="funkoModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="funkoModalLabel">
                    {{ item.name }}
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <app-funko-detail-painel
                    [funkoDetails]="item"
                    [idFunko]="item.number.replace(' ', '') + idx"
                  ></app-funko-detail-painel>
                </div>
                <div class="modal-footer">
                  <button
                    *ngIf="
                      displayAddNewFunko &&
                      currentEnvironment.production === false
                    "
                    type="button"
                    class="btn btn-outline-success btn-sm"
                    data-bs-dismiss="modal"
                    (click)="goToEditPage(item.uniqueId)"
                  >
                    Edit Funko
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Details Modal -->

          <!-- Image Modal -->
          <div
            class="modal fade"
            id="modalImg{{ item.number.replace(' ', '') + idx }}"
            aria-hidden="true"
            aria-labelledby="ModalLabel"
            tabindex="-1"
            data-bs-backdrop="static"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="ModalLabel">
                    {{ item.name }}
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-toggle="modal"
                    aria-label="Close"
                    attr.data-bs-target="#funkoModal{{
                      item.number.replace(' ', '') + idx
                    }}"
                  ></button>
                </div>
                <div class="modal-body">
                  <app-funko-image-carousel
                    [funkoImages]="item.image"
                    [idFunko]="item.number.replace(' ', '') + idx"
                    [fromPage]="'painel'"
                  ></app-funko-image-carousel>
                </div>
              </div>
            </div>
          </div>
          <!-- Image Modal -->
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td [attr.colspan]="displayAddNewFunko ? '4' : '3'">
            <app-funko-painel-pagination
              [funkosLength]="filteredCount.count"
              [itemsPerPage]="itemsPage.perPage"
              #paginator
            ></app-funko-painel-pagination>
            <app-funko-painel-items-per-page
              [totalItems]="filteredCount.count"
              #itemsPage
            ></app-funko-painel-items-per-page>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="foot">Total Funkos: {{ filteredCount.count }}</div>
</div>
