<div class="page">
  <div class="top">
    <div class="funko-we">
      <img class="tadeu" src="assets/image/general/tadeu-funko.png" />
      <img src="assets/image/general/maple-funko.png" />
      <img class="vivi" src="assets/image/general/vivi-funko.png" />
    </div>
    <div class="title">My Funko Collection</div>
  </div>
  <div class="search-section">
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Search"
      aria-label=".form-control-lg example"
      [(ngModel)]="searchText"
    />
  </div>
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Collection</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-container
          *ngFor="
            let item of funkoCollection
              | filter
                : searchText
                : ['name', 'number', 'collection', 'comment']
                : filteredCount;
            index as idx
          "
        >
          <tr
            class="rowFunko"
            data-bs-toggle="modal"
            attr.data-bs-target="#funkoModal{{ item.number + idx }}"
          >
            <th scope="row">{{ item.number }}</th>
            <td>{{ item.collection }}</td>
            <td>{{ item.name }}</td>
          </tr>

          <!-- modal -->
          <!-- data-bs-backdrop="static"
            data-bs-keyboard="false" -->
          <div
            class="modal fade modal-dialog-scrollable"
            id="funkoModal{{ item.number + idx }}"
            tabindex="-1"
            aria-labelledby="funkoModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="funkoModalLabel">
                    {{ item.name }}
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <app-funko-detail-painel
                    [funkoDetails]="item"
                    [idFunko]="item.number + idx"
                  ></app-funko-detail-painel>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- modal -->
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="foot">Total Funkos: {{ filteredCount.count }}</div>
</div>
