<div class="funko-panel">
  <div class="funko-image">
    <app-funko-image-carousel
      [funkoImages]="funkoDetails.image"
      [uniqueId]="idFunko"
    ></app-funko-image-carousel>
  </div>

  <div class="funko-details">
    <div class="row col-12">
      <div class="col-3">
        <div class="form-text">Type</div>
        <label class="form-label text">{{ funkoDetails.type }}</label>
      </div>
      <div class="col-5 separate">
        <div class="form-text">Category</div>
        <label class="form-label text">{{ funkoDetails.category }}</label>
      </div>
      <div class="col-4 separate">
        <div class="form-text">Number</div>
        <label class="form-label text">{{ funkoDetails.number }}</label>
      </div>
    </div>

    <div class="row col-12">
      <div class="form-text">Collection</div>
      <label class="form-label text">{{ funkoDetails.collection }}</label>
    </div>

    <div class="row col-12">
      <div class="form-text">Name</div>
      <label class="form-label text">{{ funkoDetails.name }}</label>
    </div>

    <div class="row col-12">
      <div class="col-3">
        <div class="form-text">Box with</div>
        <label class="form-label text">{{ funkoDetails.pack }}</label>
      </div>

      <div class="col-3 separate">
        <div class="form-text">Size</div>
        <label class="form-label text">{{ funkoDetails.size }}'</label>
      </div>

      <div class="col-6 separate">
        <div class="form-text">Serial</div>
        <label class="form-label text">{{ funkoDetails.serial }}</label>
      </div>
    </div>

    <div class="row col-12">
      <div class="form-text">Exclusive</div>
      <label class="form-label">
        <ng-container *ngFor="let exclusive of funkoDetails.exclusive">
          <app-funko-detail-exclusive
            [funkoExclusive]="exclusive"
          ></app-funko-detail-exclusive>
        </ng-container>
        <span
          class="badge text-bg-light badge-space"
          *ngIf="funkoDetails.exclusive.length == 0"
          >No</span
        >
      </label>
    </div>

    <div class="row col-12">
      <div class="form-text">Features</div>
      <label class="form-label">
        <ng-container *ngFor="let feature of funkoDetails.features">
          <app-funko-detail-features
            [funkoFeature]="feature"
          ></app-funko-detail-features>
        </ng-container>
        <span
          class="badge text-bg-light badge-space"
          *ngIf="funkoDetails.features.length == 0"
          >No</span
        >
      </label>
    </div>

    <div class="row col-12">
      <div class="form-text">Stamps</div>
      <label class="form-label">
        <ng-container *ngFor="let stamp of funkoDetails.stamps">
          <app-funko-detail-stamp [funkoStamp]="stamp"></app-funko-detail-stamp>
        </ng-container>
        <span
          class="badge text-bg-light badge-space"
          *ngIf="funkoDetails.stamps.length == 0"
          >No</span
        >
      </label>
    </div>

    <div class="row col-12">
      <div class="form-text">Comment</div>
      <label class="form-label text">{{ funkoDetails.comment }} &nbsp;</label>
    </div>
  </div>
</div>
