.funko-panel {

    .funko-image {
        height: 12rem;
        border-bottom: 0.01rem black solid;

        .carousel-indicators {
            margin-bottom: -1.5rem;
            margin-right: 0rem;
            margin-left: 0rem;
        }

        img {
            height: 10rem;
            margin: auto;
        }
    }
}