<span class="badge text-bg-secondary badge-space" *ngIf="badge === 'silver'">{{
  funkoStamp
}}</span>

<span class="badge text-bg-warning badge-space" *ngIf="badge === 'yellow'">{{
  funkoStamp
}}</span>

<span class="badge text-bg-info badge-space" *ngIf="badge === 'blue-light'">{{
  funkoStamp
}}</span>

<span class="badge text-bg-primary badge-space" *ngIf="badge === 'blue'">{{
  funkoStamp
}}</span>

<span class="badge text-bg-light badge-space" *ngIf="badge === 'default'">{{
  funkoStamp
}}</span>
